{% extends 'base.html' %}
{% block content %}
<h1>Sign Up</h1>

<form action="{% url 'autentikasi:signup' %}" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="username">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password1" name="password1">
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">Ulangi Password</label>
    <input type="password" class="form-control" id="password2" name="password2">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}