{% extends 'base.html' %}
{% block content %}
<h1>Sign In</h1>

    <form action="{% url 'autentikasi:signin' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="username">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}