{% extends 'base.html' %}

{% block head %}
  <title>Homepage</title>
{% endblock head %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Datetime</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
      {% for note in daftar_note %}
      <tr>
        <td>{{ note.title }}</td>
        <td>{{ note.datetime }}</td>
        <td>{{ note.content }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <!-- Button trigger modal -->
  {% if user.is_authenticated %}
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create new Note
  </button>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new Note</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'homepage:add_note' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="datetime" class="form-label">Datetime</label>
              <input type="date" class="form-control" id="datetime" name="datetime">
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Content</label>
              <input type="text" class="form-control" id="content" name="content">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}