{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'todo/add_todo.css' %}">
  <title>Add Todo</title>
{% endblock head %}

{% block content %}
<div class="container" id="todo">
  <form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Deadline</label>
      {{ form.deadline }}
    </div>
    <div class="mb-3">
      <label class="form-label">Text</label>
      {{ form.text }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}