{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
  {% csrf_token %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Todo</th>
        <th scope="col">Deadline</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="todo-data">
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-5">
    <a href="{% url 'todo:add_todo' %}">
      <button class="btn btn-primary">Add Todo</button>
    </a>
  </div>
</div>

<div class="container">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Deadline</label>
    <input class="form-control" type="datetime-local" id="input-deadline">
  </div>
  <div class="mb-3">
    <label class="form-label">Text</label>
    <input class="form-control" type="text" id="input-text">
  </div>
  <button id="update-btn" type="submit" class="btn btn-primary">Submit</button>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'todo/script.js' %}"></script>
{% endblock js %}